/*set variables*/
:root {
    --fontcolor-dark: rgb(62,62,91);
    --fontcolor-light: rgb(86, 207, 247);  
    --hero-height: 200px;
    --border-color: rgb(86,207,247);
    --background-color-light: rgb(86,207,247);
    --background-color-dark: rgb(62, 62, 91);
    --background-color-body: rgb(223, 236, 248);
}

/*element selectors*/
header {
    height: 5rem;
    background-color: var(--background-color-dark);
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

a {
    color: var(--fontcolor-light);
    text-decoration: none;
}

body {
    background-color: var(--background-color-body);
    color: var(--fontcolor-dark);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1%; 
    padding: 1%;
}

h1 {
    margin: 1%;
    padding-right: 2%;
    font-size: 200%;
    padding-bottom: 1%;
}

h2 {
    margin-right: 2%;
    font-size: 200%;
}

p {
    text-align: left;
    padding: 3%;
}

img {
    max-width: 100%;
}

footer {
    margin: 3%;
    text-align: center;
    margin-left: 20%;
}

/*class selectors*/

/*header elements*/
.name {
    float: left;
    text-align: right;
    display:block;
    background-color: var(--background-color-light);
    color: var(--fontcolor-dark);
    padding-left: 5%;
    padding-right: 1%;;
    padding-bottom: .3%;
    padding-top: .3%;
}

/*navigation bar*/
.navbar ul {
    margin-right: 7%;
    float: right;
}

.navbar {
    color: var(--fontcolor-dark);
    float:right;
    white-space: nowrap;
}

.navbar__item {
    display: inline-block;
    color: var(--fontcolor-light);
    padding: 1%;
    border-bottom: 3px solid var(--fontcolor-light);
    margin: 3%;
    transition: all 0.5s ease-in-out;
}

.navbar--hover:hover {
    text-shadow:2px 2px 5px var(--border-color);
}

/*hero image and text box*/
.hero {
    height: var(--hero-height);
    width: 100%;
    margin-bottom: 2.5%;
    background-image: url("https://unsplash.it/1500");
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid var(--fontcolor-dark);
}

.hero__tag {
    float: right;
    margin-top: 8%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    background-color: var(--background-color-light);
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: .5%;
}

/*creates and styles grid for each row*/
.content {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    margin: 3%;
}

/*grid border between row header and content*/
.content__row {
    border-left: 3px solid var(--fontcolor-dark);
}

/*styles grid row headers*/
.content__sidebar {
    margin-left: 1%;
    padding: 2%;
    height: auto;
    text-align: right;
    margin-right: 1%;
}

/*profile pic in about me row*/
.aboutme__pic{
    float:left;
    margin: 3%;
    border: 3px solid var(--fontcolor-dark)
}

/*creates and styles flexboxes in work row*/
.fbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 2%;
    width: fit-content;
    height: fit-content;
    justify-content: center;
 }

.fbox-container > .image2 .image3 .image4 .image5 {
    flex-basis: 47%;
    border-width: 5px;
}

.fbox-container > * {
    margin: 1%;
    border-width: 5px;
}

.fbox-container__image {
    position: relative;
}

/* adds overlay fading effect */
.fbox-container__image:after {
    position:absolute;
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    background-color: --var(--background-color-light);
    top: 0;
    left: 0;
    -webkit-transition: all 0.9s ease-in-out;
   -moz-transition: all 0.9s ease-in-out;
   -o-transition: all 0.9s ease-in-out;
   -ms-transition: all 0.9s ease-in-out;
   transition: all 0.9s ease-in-out;
   opacity: 1;
  }

  .fbox-container__image img {
    width: 100%;
  }

  .fbox-container__image:after {
    opacity: 0.3;
  }
 
  .fbox-container__image:after {
    background-color: var(--background-color-light);
  }
  
  .fbox-container__image:hover:after {
    opacity: 0;
  }

/* Flexbox title elements */
.fbox__title {
    background-color: var(--background-color-light);
    color: var(--fontcolor-dark);
    padding: 3%;
    margin-top: -20%;
    margin-left: -1px;
    float: left;
    position: relative;
    font-size: 100%;
}

.fbox__title p {
    font-size: 50%;
}

/*makes box borders glow*/
.fbox-container__image,
.aboutme__pic {
    border: 3px solid var(--border-color);
    transition: all 0.5s ease-in-out;
}

.fbox-container__image:hover,
.aboutme__pic:hover {
    box-shadow: inset 0px 0px 3px var(--fontcolor-dark), 0 0 8px var(--fontcolor-dark);
}

/*makes boxes grow*/
.flexbox--grow {
    transition: all .2s ease-in-out;
}

.flexbox--grow:hover {
    transform: scale(1.1);
    z-index: 5;
}


/*styles contact me row*/
.contactbar__item {
    display: table-cell;
    color: var(--fontcolor-dark);
    padding: 1%;
    text-align: center;
}

.contactbar a{
    display: block;
    color: var(--fontcolor-dark);
    padding: 1%;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.contactbar ul {
    display: table;
    width: 100%;
    list-style: none;
    padding-left: 3%;
}

.contactbar {
    display: inline;
    white-space: nowrap;
}

/*Floating Back-To-Top Button*/
/*Code found at https://stackoverflow.com/questions/32102747/how-to-make-a-back-to-top-button-using-css-and-html-only#:~:text=Utilize%20the%20tag.,an%20anchor%20with%20specified%20name.&text=Then%20your%20%22back%20to%20top%22%20link%20points%20to%20it.*/
#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 5%;
    left: 95%;
    max-width: 50px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;
    opacity: 65%;
}

/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}


/*media query for smaller screens*/
@media screen and (max-width: 450px) {
    
    /*centers nav bar*/
    header {
        display: grid;
        justify-content: center;
        grid-template-columns: none;
        
    }
    
    /*removes name element*/
    .name {
        display: none;

    }
    
    /*centers and modifies nav bar*/
    .navbar {
        float: left;
        margin-right: 10%;
    }

    .navbar ul {
       float:none;
    }

    .navbar__item {
        font-size: 80%;
    }

    /*removes hero image*/
    .hero {
        display: none;
    }

    /*stacks contact info vertically*/
    .contactbar ul {
       display: grid;
       grid-template-rows: auto;
       justify-content: center;
       margin-inline-end: 0%;
       margin-right: 0;
    }

    .contactbar__item a {
        text-decoration: none;
    }

    /*resizes row headers*/
    h2 {
        font-size: 100%;
    }

    p {
        text-align: left;
    }

    h3 {
        font-size: 50%;
    }

     /*reconfigures about me section*/
    .aboutme {
        display:grid;
        grid-template-rows: 70% 30%;
        align-items: center;
    }

    .aboutme__pic {
        margin-left: 20%;
    }

    /*reconfigures work section*/
    .fbox__title p {
        font-size: 45%;
    }

    .fbox-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 2%;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        margin: 0%;
    }

    /*modifies footer font size*/
    footer {
        font-size: 50%;
        margin-top: 5%;
        margin-left: 20%;
        text-align: center;
    }
}