/*set variables*/
:root {
    --fontcolor-dark: rgb(40,40,92);
    --fontcolor-light: aqua;  
    --hero-height: 200px;
}

/*element selectors*/
header {
    /*display: flex;*/
    height: 5rem;
    background-color: var(--fontcolor-dark);
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

a {
    color: var(--fontcolor-light);
    text-decoration: none;
}

body {
    background-color: rgb(159, 204, 246);
    color: var(--fontcolor-dark);
}

main {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1%; 
    padding: 1%;
}

h1 {
    margin: 1%;
    padding-right: 2%;
    font-size: 200%;
}

h2 {
    margin-right: 2%;
    font-size: 200%;
}

p {
    text-align: center;
    padding: 3%;
}

img {
    max-width: 100%;
}

footer {
    margin: 3%;
    text-align: center;
}

/*class selectors*/
.nav-bar ul {
    margin-right: 7%;
    float: right;
}

.contact-bar ul {
    padding-left: 3%;
}

.name {
    float: left;
    text-align: right;
    display:block;
    background-color: aqua;
    color: var(--fontcolor-dark);
    padding-left: 5%;
    padding-right: 1%;;
    padding-bottom: .3%;
    padding-top: .3%;
}

.nav-bar {
    color: var(--fontcolor-dark);
    float:right;
    white-space: nowrap;
}

.nav-item {
    display: inline-block;
    color: var(--fontcolor-light);
    padding: 1%;
    border-bottom: 3px solid var(--fontcolor-light);
    margin: 3%;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover {
    text-shadow:2px 2px 5px rgb(5, 141, 252);
}

.hero {
    height: var(--hero-height);
    width: 100%;
    margin-bottom: 2.5%;
    background-image: url("https://via.placeholder.com/728x200");
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid var(--fontcolor-dark);
}

.hero-tag {
    float: right;
    margin-top: 8%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    background-color: var(--fontcolor-light);
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: .5%;
}

.contact-item {
    display: inline-block;
    color: var(--fontcolor-dark);
    padding: 1%;
    border-bottom: 3px solid var(--fontcolor-dark);
    margin-inline-end: 14%;
}

.sidebar {
    margin-left: 1%;
    padding: 2%;
    height: auto;
    text-align: right;
    margin-right: 1%;
}

.profile-pic{
    float:left;
    margin: 3%;
    border: 3px solid var(--fontcolor-dark)
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 2%;
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

.flexbox-container > div {
    background-color: #f1f1f1;
    width: fit-content;
    margin: 10px;
    text-align: center;
    height:fit-content;
    font-size: 30px;
    border-width: 5px;
}

.flexbox-image,
.profile-pic {
    border: 3px solid rgb(5, 141, 252);
    transition: all 0.5s ease-in-out;
}

.flexbox-image:hover,
.profile-pic:hover {
    box-shadow: inset 0px 0px 3px var(--fontcolor-dark), 0 0 8px var(--fontcolor-dark);
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  }

.content-row {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    margin: 3%;
}

.content {
    float: right;
    border-left: 3px solid var(--fontcolor-dark);
}

.contact-bar {
    display: inline;
    white-space: nowrap;

}

/*media query for larger screens
@media screen and (min-width: 451px) {
    header {
      width: 100%;

    }
}*/

@media screen and (max-width: 450px) {
    header {
        display: grid;
        justify-content: center;
        grid-template-columns: none;
        
    }
    .name {
        display: none;

    }
    
    .nav-bar {
        float: left;
        margin-right: 10%;
    }

    .nav-bar ul {
       float:none;
    }

    .nav-item {
        font-size: 80%;
    }

    .contact-bar ul {
       display: grid;
       grid-template-rows: auto;
       justify-content: center;
       margin-inline-end: 0%;
       margin-right: 0;
    }

    .contact-item {
        border: none;
    }

    .hero {
        display: none;
    }

    h2 {
        font-size: 100%;
    }

    .about-me {
        display:grid;
        grid-template-rows: 75% 25%;
        align-items: center;       
    }

    p {
        text-align: left;
    }

    .profile-pic {
        margin-left: 17%;
    }

    footer {
        font-size: 50%;
        margin: 5%;
    }
}