/*set variables*/
:root {
    --fontcolor-dark: rgb(40,40,92);
    --fontcolor-light: aqua;  
}

header {
    display: flex;
    height: 50px;
    background-color: var(--fontcolor-dark);
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    width: 100%;
}

body {
    background-color: rgb(159, 204, 246);
    color: var(--fontcolor-dark)
}

ul {
    width:max-content;

}

.name {
    float: left;
    display:block;
    background-color: aqua;
    color: var(--fontcolor-dark);
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.nav-bar {
    color: var(--fontcolor-dark);
    float:right;
    white-space: nowrap;
}

.nav-item {
    display: inline-block;
    color: var(--fontcolor-light);
    padding: 1%;
    border-bottom: 3px solid var(--fontcolor-light);
}

a {
    color: var(--fontcolor-light);
    text-decoration: none;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://via.placehold.com/728x200");
    background-size: cover;
    background-position: center;
    border: 3px solid var(--fontcolor-dark);
}

.hero-tag {
    float: right;
    margin-top: 125px;
    margin-right: 50px;
    margin-bottom: 25px;
    background-color: var(--fontcolor-light);
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 5px;
}

.contact-item {
    display: inline-block;
    color: var(--fontcolor-dark);
    padding: 1%;
    border-bottom: 3px solid var(--fontcolor-dark);
}

.sidebar {
    display: flex;
    float: left;
    margin-left: 20px;
    padding: 20px;
    width: 20%;
    height: auto;
    padding-left: 10%;
    border-right: 3px solid var(--fontcolor-dark);
}

.about-me {
    float: right;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
}

.flexbox-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-width: 5px;
  }

.content-row {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    margin: 3%;
}

.content {
    float: right;
}



/* media query for larger screens 
@media screen and (min-width: 992px) {
    header {
      width: 75%;

    }
}*/